*{
  font-size: 0.95rem;
  font-family: Proxima Nova, sans-serif;
  color: #757575;

}
body {
  height: 100%;
  margin: 0;

}
.app-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-section {
  flex: 1;
  background-image: url("/alatpage.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d90429;
}

.right-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-container {
  margin-left: 50px;
}
.welcome{
  color: #444444;
  font-family: Proxima Nova, sans-serif;
  font-size: 20.9px;
  font-weight:5px;
}
hr {
  border: 3.7px rgb(171, 11, 75) solid;
  width: 2.5rem;

  margin: 0;
  fill: rgb(171, 11, 75) solid;
}
h1 {
  font-size: 1.3118rem;
  font-weight: 700;
  color: #444444;
  font-family: Proxima Nova, sans-serif;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-left: 200px; */
  padding-top: 30px;
}

input {
  padding: 6px 0px 7px;
  width: 100%;
  margin: 15px 0px;
  height: 30px;
  color: #757575;
  border: #757575, solid, 1px;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  width: 100%;
  justify-content: inherit;
  margin: 15px;
  height: 40px;
  background-color: rgb(171, 38, 86);
  border: none;
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 1px;
}

button:hover {
  background-color: #a10220;
}


.new a{
  font-weight: bolder;
}

a {
  color: rgb(171, 38, 86);
  text-decoration: none;
}
.header{
  margin-top: 50px;
}
.head{
  display: flex;
  align-items: center;
  padding-top: 40px;
}

label {
  font: inherit;
  padding: 0px 20px;
}
.new {
  font-size: 0.9rem;
  color: #757575;
  margin-left: 100px;
}
.pass-text {
  display: flex;
  gap: 100px;
}
.cbn-image{
  width: 3rem;
  height: 3rem;

}
.alatimage{
  width: 4rem;
  height: 4.5rem;
}
